@import "../../../../picpay-theme.scss";

button {
  background-color: $primary;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 100%;
  }
}