@import "../../../picpay-theme.scss";
/* List of Users */

.user {
  background: $primary;
  box-shadow: 0 1px 0 #ffffff, 0px -1px 0px #ffffff;
  color: #fff;
  padding: 20px 40px;

  display: flex;
  align-items: center;
}

.user > img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.user > .info-wrapper {
  margin-left: 16px;
}

.user > .pay-button {
  margin-left: auto;
}

